<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="3.0">
    <display-name>students system</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>studetsSearch</servlet-name>
        <servlet-class>com.hss.student.setvlets.StudetsSearchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>studetsSearch</servlet-name>
        <url-pattern>/studetsSearch</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>studentUpdateServlet</servlet-name>
        <servlet-class>com.hss.student.setvlets.StudentUpdateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>studentUpdateServlet</servlet-name>
        <url-pattern>/studentUpdate</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>studentDetailServlet</servlet-name>
        <servlet-class>com.hss.student.setvlets.StudentDetailServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>studentDetailServlet</servlet-name>
        <url-pattern>/studentDetail</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>studetDeleteServlet</servlet-name>
        <servlet-class>com.hss.student.setvlets.StudetDeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>studetDeleteServlet</servlet-name>
        <url-pattern>/studetDelete</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>UserNameCheckServlet</servlet-name>
        <servlet-class>com.hss.student.setvlets.UserNameCheckServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserNameCheckServlet</servlet-name>
        <url-pattern>/userNameCheckServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>KeyWordsServlet</servlet-name>
        <servlet-class>com.hss.student.setvlets.KeyWordsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KeyWordsServlet</servlet-name>
        <url-pattern>/keyWordsServlet</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>DataXmlServlet</servlet-name>
        <servlet-class>com.hss.student.setvlets.DataXmlServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DataXmlServlet</servlet-name>
        <url-pattern>/dataXmlServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DataJsonServlet</servlet-name>
        <servlet-class>com.hss.student.setvlets.DataJsonServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DataJsonServlet</servlet-name>
        <url-pattern>/dataJsonServlet</url-pattern>
    </servlet-mapping>
</web-app>
